/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    font-size: 2.8125rem;
    font-weight: 700;
    color: #0B0223;
}

.span_logo {
    color: #FF42A5;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.txt {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.primary_txt {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.sec_txt {
    font-size: 1.25rem;
    font-weight: 600;
}
/* common css end */
/* header start */
/* nav start */
.nav_main {
    padding: 1.31rem 0;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 32px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.menu a:hover {
    color: #FF42A5;
}

.fa-tiktok:hover {
    color: #0B0223;
}

.fa-youtube {
    color: red;
}

.fa-youtube:hover {
    color: #0B0223;
}

.social {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.social:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu {
    display: flex;
    align-items: center;
}

.social a {
    margin: 0;
}

.logo .fa-gamepad {
    color: #FF42A5;
}

.logo a {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.logo a:hover {
    color: #FF42A5;
}
/* nav end */
/* header end */






/* responsive section start */

/* responsive section end */