/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    font-size: 2.8125rem;
    font-weight: 700;
    color: #0B0223;
}

.span_logo {
    color: #FF42A5;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.txt {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.primary_txt {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.sec_txt {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn {
    padding: 1.3rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 3rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FF42A5;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn:hover {
    background-color: transparent;
    color: #4EC5F7;
    border: 2px solid #4EC5F7;
}
/* common css end */
/* header start */
/* nav start */
header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav_main {
    padding: 1.31rem 0;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 32px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.menu a:hover {
    color: #FF42A5;
}

.fa-tiktok {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.fa-tiktok:hover {
    color: #0B0223;
}

.fa-youtube {
    color: red;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.fa-youtube:hover {
    color: #0B0223;
}

.social {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.social:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu {
    display: flex;
    align-items: center;
}

.social a {
    margin: 0;
}

.logo_main a {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.logo_main img {
    top: -2px;
    position: relative;
}

.logo_main a:hover {
    color: #FF42A5;
}
/* nav end */
/* header end */

/* main start */
/* banner start */
#banner {
    /* background: url(../images/Group\ 14.png)no-repeat; */
}

.banner_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content {
    background: url(../images/Group\ 14.png);
    width: 56.3125rem;
    padding: 9.25rem 16.5rem 9.25rem 15.25rem;
}

.banner_content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.banner_content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9375rem;
    font-weight: 800;;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.banner_icons_main {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.banner_content_icons {
    margin-bottom: .8rem;
}

.banner_icons_main i {
    width: 1.5rem;
}

.banner_img {
    margin-top: 1rem;
    margin-right: 14.47rem;
    width: 44.96538rem;
}

.btn_blue {
    background-color: #4EC5F7;
    margin-left: 0.625rem;
}

.btn_blue:hover {
    background-color: transparent;
    color: #FF42A5;
    border: 2px solid #FF42A5;
}
/* banner end */
/* main end */






/* responsive section start */
/* mobile-l device start */
@media screen and (max-width: 425px) {
    .nav_main {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 1.8rem;
    }

    .social {
        margin-top: 3.8rem;
    }

    .menu a {
        margin-right: 0;
    }

    .nav_margin {
        margin-bottom: 1.25rem;
    }

    .banner_main {
        flex-direction: column-reverse;
    }
    
    .banner_img {
        margin-left: 10.5rem;
        margin-right: 8rem;
        width: 24rem;
    }

    .banner_img img {
        width: 90%;
    }

    .banner_content {
        width: 25rem;
        padding: 1rem;
        background-size:contain;
        text-align: center;
        margin-left: 7px;
        margin-top: 20px;
    }
}
/* mobile-l device end */

/* tablet device start */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .nav_main {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 1.8rem;
    }

    .banner_main {
        flex-direction: column-reverse;
    }
    
    .banner_img {
        margin-left: 10.5rem;
        margin-right: 8rem;
        margin-top: 43px;
        width: 29rem;
    }

    .banner_img img {
        width: 90%;
    }

    .banner_content {
        width: 40rem;
        padding: 3rem;
        background-size: contain;
        text-align: center;
        margin-left: 26px;
        margin-top: 30px;
        background-repeat: no-repeat;
    }
}
/* tablet device end */
/* responsive section end */