/* common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    font-size: 2.8125rem;
    font-weight: 700;
    color: #0B0223;
}

.span_logo {
    color: #FF42A5;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.txt {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.primary_txt {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.sec_txt {
    font-size: 1.25rem;
    font-weight: 600;
}

.btn {
    padding: 1.3rem 2.5rem;
    border: 2px solid transparent;
    border-radius: 3rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #FF42A5;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn:hover {
    background-color: transparent;
    color: #4EC5F7;
    border: 2px solid #4EC5F7;
}
/* common css end */
/* header start */
/* nav start */
header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav_main {
    padding: 1.31rem 0;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    margin-right: 32px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.menu a:hover {
    color: #FF42A5;
}

.fa-tiktok {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.fa-tiktok:hover {
    color: #0B0223;
}

.fa-youtube {
    color: red;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.fa-youtube:hover {
    color: #0B0223;
}

.social {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.social:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu {
    display: flex;
    align-items: center;
}

.social a {
    margin: 0;
}

.logo_main a {
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.logo_main img {
    top: -2px;
    position: relative;
}

.logo_main a:hover {
    color: #FF42A5;
}
/* nav end */
/* header end */

/* main start */
/* banner start */
.banner_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content {
    background: url(../images/Group\ 14.png);
    width: 56.3125rem;
    padding: 9.25rem 16.5rem 9.25rem 15.25rem;
}

.banner_content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.banner_content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.9375rem;
    font-weight: 800;;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.banner_icons_main {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.banner_content_icons {
    margin-bottom: .8rem;
}

.banner_icons_main i {
    width: 1.5rem;
}

.banner_img {
    margin-top: 1rem;
    margin-right: 14.47rem;
    width: 44.96538rem;
}

.btn_blue {
    background-color: #4EC5F7;
    margin-left: 0.625rem;
}

.btn_blue:hover {
    background-color: transparent;
    color: #FF42A5;
    border: 2px solid #FF42A5;
}
/* banner end */

/* gamer start */
#gamer {
    padding: 3.5rem 0rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer_content {
    max-width: 32.5rem;
}

.gamer_content .title {
    text-align: right;
    margin-bottom: 1.3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer_content .txt {
    text-align: right;
    margin-bottom: 1.8rem;
}

.gamer_content a {
    margin-left: 308px;
}

.gamer_content a {
    margin-bottom: 1.3rem;
}

.gamer_txt {
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8125rem;
}

.gamer_end {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.8125rem;
}
/* gamer end */

/* games video start */
#games_video {
    margin-top: 7.5rem;
}

.games_video_main span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video_caption {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.games_video_main .title, .games_video_main .txt {
    text-align: center;
}

.games_video_main .txt {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.video_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.video_img {
    border-radius: 1.4rem;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    -ms-border-radius: 1.4rem;
    -o-border-radius: 1.4rem;
}

.nope {
    border: 0;
}

.video_img {
    position: relative;
}

.overlay a {
    font-size: 20px;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overlay i {
    font-size: 40px;
    color: #FFF;
    margin-bottom: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #FF42A5;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .4s;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.video_img:hover .overlay {
    opacity: 1;
    cursor: pointer;
}
/* games video end */

/* feature one start */
#feature_one {
    margin-top: 7.5rem;
}

.feature_one_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature_one_content {
    text-align: right;
    margin-left: 7.5rem;
}

.feature_one_content span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature_one_content .title {
    margin-bottom: 1.5rem;
}

.feature_one_img {
    position: relative;
}

.talking_tom {
    position: absolute;
    left: -143px;
    bottom: -75px;
}
/* feature one end */

/* feature two start */
#feature_two {
    margin-top: 12.24rem;
}

.feature_two_content span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.feature_two_content .title {
    margin-bottom: 1.5rem;
}

.feature_two_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature_two_content {
    width: 31.1875rem;
}

.feature_two_img {
    position: relative;
}

.girl {
    position: absolute;
    left: 528px;
    bottom: -124px;
}
/* feature two end  */

/* games start */
#games {
    padding: 7.5rem 0;
    margin-top: 15.19rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.76rem;
}

.games_main a {
    color: #0B0223;
    font-size: 1.25rem;
    position: relative;
    font-weight: 600;
    border-radius: 3.125rem;
    background: #FFF;
    border: 2px solid transparent;
    padding: 1.8rem 1.25rem 1.8rem 5.38rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.games_main a:hover {
    color: #FF42A5;
    border-color: #FF42A5;
}

.games_main a img {
    position: absolute;
    left: 12px;
    bottom: 11px;
}
/* games end */

/* footer start */
footer {
    background: #0B0223;
}
.footer_main {
    padding: 7.87rem 35.19rem 8.12rem 35.19rem;
}

.logo_master {
    display: flex;
    justify-content: center;
}

.footer_main .logo_main a {
    color: #FFF;
}

.footer_info ul {
    display: flex;
    justify-content: space-between;
    margin-top: 4.12rem;
    margin-bottom: 3.5rem;
}

.footer_info a {
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.footer_icon {
    display: flex;
    justify-content: space-evenly;
}

.footer_icon a {
    font-size: 30px;
}

.policy {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.policy a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.policy ul {
    display: flex;
    justify-content: space-around;
}

.footer_main p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.footer_info ul a:hover {
    color: #FF42A5;
}

.policy ul a:hover {
    color: #FF42A5;
}
/* footer end */
/* main end */






/* responsive section start */
/* mobile-l device start */
@media screen and (max-width: 425px) {
    .nav_main {
        flex-direction: column;
        text-align: center;
    }

    .menu, .gamer_main, .feature_one_main, .feature_two_main {
        flex-direction: column;
    }

    .feature_two_main {
        flex-direction: column-reverse;
    }

    .logo {
        margin-bottom: 1.8rem;
    }

    .social {
        margin-top: 3.8rem;
    }

    .menu a {
        margin-right: 0;
    }

    .nav_margin {
        margin-bottom: 1.25rem;
    }

    .banner_main {
        flex-direction: column-reverse;
    }
    
    .banner_img {
        margin-left: 10.5rem;
        margin-right: 8rem;
        width: 24rem;
    }

    .banner_img img {
        width: 90%;
    }

    .banner_content {
        width: 25rem;
        padding: 1rem;
        background-size: contain;
        text-align: center;
        margin-left: 4px;
        margin-top: 20px;
    }

    .gamer_img img {
        width: 100%;
    }

    .gamer_content {
        text-align: center;
        max-width: 21rem;
    }

    .gamer_content a {
        margin-right: -7px;
        margin-left: 0;
    }

    .gamer_content .title {
        text-align: center;
    }

    .gamer_content .txt {
        text-align: center;
    }

    .gamer_txt {
        text-align: center;
    }

    .video_box {
        grid-template-columns: 1fr;
    }

    .video_box img {
        width: 100%;
        height: 100%;
    }

    .games_video_main {
        padding: 0 30px;
    }

    .games_video_main .title {
        margin-bottom: 15px;
    }

    .games_video_main .txt {
        margin-bottom: 60px;
    }

    .video {
        margin-bottom: 30px;
    }

    .video p {
        text-align: center;
    }

    .feature_one_content {
        text-align: center;
        margin-left: 20px;
    }

    .feature_one_content .txt {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .feature_one_img {
        width: 24rem;
        margin-left: 0px;
    }

    .feature_one_img .cowboy {
        width: 100%;
    }

    .talking_tom {
        width: 50%;
        left: -18px;
        bottom: -61px;
    }

    .feature_two_content {
        text-align: center;
        margin-left: 20px;
    }

    .feature_two_content .txt {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .feature_two_img {
        width: 24rem;
        margin-left: 0px;
    }

    .feature_two_img .boy {
        width: 100%;
    }

    .girl {
        width: 50%;
        left: 210px;
        bottom: -86px;
    }

    .feature_two_content {
        width: 90%;
    }

    .footer_info ul {
        display: flex;
        gap: 8px;
        margin-top: 1.12rem;
        margin-bottom: 3.5rem;
        flex-direction: column;
        align-items: center;
    }

    .footer_main {
        padding: 10px;
    }
}
/* mobile-l device end */

/* tablet device start */
@media screen and (min-width: 426px) and (max-width: 768px) {
    .nav_main, .gamer_main, .feature_one_main, .feature_two_main {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        margin-bottom: 1.8rem;
    }

    .banner_main {
        flex-direction: column-reverse;
    }
    
    .banner_img {
        margin-left: 10.5rem;
        margin-right: 8rem;
        margin-top: 43px;
        width: 37rem;
    }

    .banner_img img {
        width: 90%;
    }

    .banner_content {
        width: 40rem;
        padding: 3rem;
        background-size: contain;
        text-align: center;
        margin-left: 26px;
        margin-top: 30px;
        background-repeat: no-repeat;
    }

    .gamer_img img {
        width: 100%;
    }

    .gamer_content .title, .gamer_content .txt, .gamer_txt  {
        text-align: center;
    }

    .gamer_content a {
        margin-right: -7px;
        margin-left: 0;
    }

    .video_box {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 30px;
    }

    #games_video {
        margin-top: 80px;
    }

    .video_box img {
        width: 100%;
        height: 100%;
    }

    .feature_one_content {
        text-align: center;
        margin-left: 0;
    }

    .feature_one_content .txt {
        margin-top: 35px;
        margin-bottom: 93px;
    }

    .cowboy {
        width: 90%;
    }

    .talking_tom {
        width: 40%;
        left: -43px;
        bottom: -60px;
    }

    .feature_two_content {
        text-align: center;
        margin-left: 0;
        margin-top: 131px;
    }

    .feature_two_content .txt {
        margin-top: 35px;
        margin-bottom: 93px;
    }

    .boy {
        width: 90%;
    }

    .girl {
        width: 40%;
        left: 441px;
        bottom: -100px;
    }

    .footer_main {
        padding: 20px;
    }
}
/* tablet device end */
/* responsive section end */